::ng-deep.custom-toolbar {
    margin-bottom: 20px;
    //height: 60px;

    .app-title {
        font-size: 24px;
        font-weight: bold;
    }

    .status-container {
        align-items: center;
        display: flex;
        em {
            margin-right: 5px;
            color: green;
        }
    }
}

.ui-toolbar-group-left {
    align-items: center;
    display: flex;

    i {
        font-size: 40px;
        color: green;
    }

    .app-title {
        font-size: 30px;
        font-weight: bold;
        margin-left: 20px;
    }
}
